extends layout

block content
  h1= title
  - let results = thegucci
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.Itemname}
          p #{result.price}
          p #{result.quantity}

  script.
    function buy(element){
      alert(`You purchased item is ${element+1}.`)
    }