extends layout 
 
block content 
  h1= title
  if (toShow == null) 
    h2 No instance to display  
  else 
        - let gucciid = toShow._id 
        - let Itemname = toShow.Itemname 
        - let price = toShow.price
        - let quantity = toShow.quantity
  div 
    div.row 
      div(class='gucciAttr mr-3') gucci ID is: 
      div #{gucciid} 
    div.row 
      div(class='gucciAttr mr-3') gucci type is: 
      div #{Itemname} 
    div.row 
      div(class='gucciAttr mr-3') gucci price is: 
      div #{price} 
    div.row 
      div(class='gucciAttr mr-3') gucci quantity is: 
      div #{quantity}